:root {
    --color-0: #A0C9A5;
    --color-1:  #9CBFA1;
    --color-2:  #D0D6C1;
    --color-3:  #C4F1CD;
    --color-4:  ##F7F3E1;

    --dark-color: #2C2A2B ;
}


.App {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

    background-color: var(--color-4);
    color: --dark-color;
}

.Body {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    flex-flow: column nowrap;
    /* justify-content: center; */
    /* align-items: center; */
}

.toolbar {
    height: 50px;
    text-align: center;
    padding: 5%;
}

.header {
    /* background-color: #E3DFCF; */
    width: 100%;
    height:50px;
}

.loadingIndicator {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; 
    align-items: center; 
    height: 100%;
    text-align: center;
}

.loading-text {
    padding: 0 0 30px 16px;
    margin-top: -90px;
    opacity: .7;
}

.sidebar {
    /* background-color: #E3DFCF; */
    width: 230px;
    height: 100%;
    overflow: auto;
    padding: 0 15px;
}

.saved-palette {
    padding-top: 12px;

    transition: transform 0.2s ease;  /* Add a transition effect */
  }
  
  .saved-palette:hover {
    transform: scale(1.05);  /* Expand the div on hover */
  }
  
  .saved-palette:active {
    transform: scale(0.97);  /* Shrink the div on click */
  }

.saved-colors {
    display: flex;
    flex-wrap: wrap;
}

.saved-color {
    width: 20%;
    height: 60px;
}

.disable {
    cursor: not-allowed !important;
    pointer-events: none;
    /* color: GrayText; */
}