:root {
    --color-0: #8B8793;
    --color-1: #4F4F4F;
    --color-2: #7B9D9F;
    --color-3: #F0F2F2;
    --color-4: #D1D8E0;
  }


.App {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

    background-color: var(--color-3);
    color: #000000;
}

.Body {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    flex-flow: column nowrap;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 5%;
}

.toolbar {
    height: 50px;
    text-align: center;
}


.sidebar {
    width: 200px;
    height: 100%;
    overflow: auto;
}

.saved-palette {
    padding-top: 12px;

    transition: transform 0.2s ease;  /* Add a transition effect */
  }
  
  .saved-palette:hover {
    transform: scale(1.08);  /* Expand the div on hover */
  }
  
  .saved-palette:active {
    transform: scale(0.98);  /* Shrink the div on click */
  }

.saved-colors {
    display: flex;
    flex-wrap: wrap;
}

.saved-color {
    width: 20%;
    height: 60px;
}

.disable {
    cursor: not-allowed !important;
    pointer-events: none;
    /* color: GrayText; */
}