.palette {
    display: flex;
    flex-wrap: wrap;
    /* margin: 20px; */
    padding: 20px;
  }

.paletteBody{
    padding: 0 5%;
}

.palette-comment{
    font-size: 1em;
    padding: .5em 20%;
}
  
  .color {
    width: 20%;
    height: 300px;
    /* position: relative; */
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .color-label {
    font-size: 1em;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .color:hover .color-label {
    opacity: 1;
  }
  
.hex-text {
    font-weight: bold;
    /* transition: background-color 0.3s ease; */
    width: 100%;
    font-size: 1em;
}

.hex-text:hover {
    background-color: black;
}